.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  /* Firefox */
  -webkit-animation: fadein 1.5s;
  /* Safari and Chrome */
  -o-animation: fadein 1.5s;
  /* Opera */
}

@keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.button button {
width: 120px;
height: 38px;
margin-right: 10px;
color: white;
background-color: mediumpurple;
font-size: 14px;
line-height: 35px;
border-radius: 20px;
cursor: pointer;
transition: all 0.3s;
border: 1px solid;
}

.button button:hover {
  background-color: slateblue;
  transform: scale(0.98);
}

@media screen and (max-width: 500px) {
  .button button {
    width: 100px;
  }
}